
@{
    ViewBag.Title = "ListaFormCollection";
}

<h2>ListaFormCollection</h2>
<div>
    <b>Pessoa Id: </b>@ViewData["pessoaId"]
</div>
<div>
    <b>Nome: </b>@ViewData["nome"]
</div>
<div>
    <b>Tipo: </b>@ViewData["tipo"]
</div>

